@charset "utf-8";

//@import url(//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css);
//@import url(//cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
//@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css);

@import "./parts/common";

body {
	font-family: $font-stack;
	letter-spacing: -0.3px;
	color: $font-color;
}
