<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="description" content="description">
	<meta name="keywords" content="keywords">
	<meta name="author" content="author">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Management-Go-Pub</title>

	<meta property="og:type" content="website">
	<meta property="og:title" content="고코매니저">
	<meta property="og:description" content="Management">
	<meta property="og:image" content="../../public/img/common/og_gocomng.jpg">
	<meta property="og:url" content="">
	
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="">
	<meta name="twitter:description" content="">
	<meta name="twitter:image" content="">
	<meta name="twitter:domain" content="">
	<!--<link rel="canonical" href="도메인">-->

	<link rel="shortcut icon" href="../../public/img/go/go.ico">
	
	<!--폰트-->	
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/cs/s/font-awesome.min.css"> -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

	<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">

	<!--공통 Css-->
<!--	<link rel="stylesheet" href="https://static.go.co.kr/css/go/reset.css" type="text/css">-->
<!--	<link rel="stylesheet" href="https://static.go.co.kr/css/go/layout.css" type="text/css">-->
	<link rel="stylesheet" href="../../public/css/reset.css">

	<!--<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">-->
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	
	<!--개별 Css-->
	<link rel="stylesheet" href="../../public/css/common.css">
	<link rel="stylesheet" href="../../public/css/winpop/winpop.css">
	<link rel="stylesheet" href="../../public/css/include/pop.css">
	<link rel="stylesheet" href="../../public/css/@@page/init.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/detectizr/1.5.0/detectizr.min.js"></script>
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
		Modernizr.Detectizr.detect();
	</script>

	<!--개별 Js-->
	<script src="../../public/js/common.js"></script>
	<script src="../../public/js/@@page/init.js"></script>

	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->

</head>