@@include('../include/_head.html', {
	"page": "member"
})

<body class="page-member">

	<div class="cf cont-forgot cont-forgot-p2">
		<div class="login-container">
			<div class="login-area">
				<h1 class="h-logo">
					<a href="../member/login.html">
						<img src="../../public/img/common/logo_mng.png" alt="고코투어 CMS" class="logo-img">
						<span class="txt">비밀번호 찾기</span>
					</a>
				</h1>
				
				<fieldset class="fid">
					<legend>비밀번호 찾기</legend>
					
					<p class="row">
						<input type="text" class="inp id" placeholder="신규 비밀번호">
					</p>
					<p class="row">
						<input type="text" class="inp pw" placeholder="신규 비밀번호 재확인">
					</p>
					<p class="row row-btn">
						<button type="button" class="btn-login">확인</button>
					</p>
				</fidleset>
			</div>
		</div>
		
		@@include('../include/member/_footer.html')
	</div>

</body>
</html>